* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

ul {
    display: flex;
    gap: 10px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: rgb(104, 107, 107);

}

.card {
    width: 200px;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 7px 1px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 7px 1px rgba(34, 60, 80, 0.2);
}

@media (max-width:1120px) {
    .card {
        width: 49%;
        margin-bottom: 20px;
    }
}

.card__image {
    margin-top: 30px;
    max-width: 200px;
}

.card__image img {
    max-width: inherit;
}

@media (max-width:1120px) {
    .card__image {
        max-width: 100%;
        height: 300px;
    }

    .card__image img {
        max-width: inherit;
        height: inherit;
        object-fit: cover;
    }
}

.top-blogs__wrapper {
    margin-top: 20px;
    max-width: 100%;
}

.info {
    margin-top: 5px;
}

.price {
    display: flex;
    margin-top: 10px;
    color: gray;
}

.cards {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width:1120px) {
    /* .cards {
        justify-content: flex-start;
    } */
}